extends layout

block content
    h5 from
    p= from
    h5 to
    p= to
    h5 cc
    p= cc
    h5 bcc
    p= bcc
    h5 references
    p= references
    h5 inReplyTo
    p= inReplyTo
    h5 priority
    p= priority
    h5 date
    p= date
    h5 attachments
    p= attachments
    h5 headers
    p= headers
    h5 subject
    p= subject
    h5 textBody
    p= textBody
    h5 htmlBody
    p= htmlBody
